<div fxLayout="column"
     fxLayoutAlign="space-between stretch"
     fxFill>

  <!-- Header ------------------------------------------------------------------------->
  <div fxFlex="none">
    <mat-toolbar #toolbar>
      <mat-icon svgIcon="pwc-logo" class="" style="width: 50px;"></mat-icon>
      SampleApp
      <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
    </mat-toolbar>
  </div>
  <!----------------------------------------------------------------------------------->

  <!-- Body ------------------------------------------------------------------------->
  <div id="main-content-container"
       fxFlex>
    <router-outlet></router-outlet>
  </div>
  <!----------------------------------------------------------------------------------->

  <!-- Footer ------------------------------------------------------------------------->
  <div fxFlex="none">
    <mat-toolbar fxFlex="100%">
    
    </mat-toolbar>
  </div>
  <!----------------------------------------------------------------------------------->
</div>
