<div class="layout-shell">
  <mat-toolbar #headerToolbar>
    <div class="toolbar-row">
      @if (useSidebar && sidenav?.mode === 'over') {
        <button mat-icon-button
          (click)="sidenav.toggle()"
          >
          @if (!sidenav.opened) {
            <mat-icon>menu</mat-icon>
          }
          @if (sidenav.opened) {
            <mat-icon>close</mat-icon>
          }
        </button>
      }

      <span [routerLink]="'/'"
        class="app-link">
        <img src='/assets/logo.png'
          class="app-logo"/>
          <!--<mat-icon svgIcon="app-logo">
        </mat-icon>-->
        <span class="apptitle">
          {{appTitle | async}}
        </span>
      </span>
      <div class="toolbar-spacer"></div>
    </div>
  </mat-toolbar>

  @if(useSidebar){
    <div class="layout-main layout-main--with-sidebar">
      <mat-sidenav-container autosize>
        <mat-sidenav #sidenav="matSidenav">
          <mat-nav-list>

            <button mat-button class="menu-button" routerLink="/home">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>

            <mat-divider></mat-divider>

            <a mat-list-item>
              <span class="entry">
                <mat-icon>house</mat-icon>
                @if (!isCollapsed) {
                  <span>Dashboard</span>
                }
              </span>
            </a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="layout-content">
          <!-- Body ------------------------------------------------------------------------->
          <div id="main-content-container" class="layout-body">
            <router-outlet></router-outlet>
          </div>
          <!-- Footer ------------------------------------------------------------------------->
          <div id="footerToolbar">
            <span class="layout-footer-content">{{layoutFooterText | async}}</span>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
}
@else{

<div class="layout-main layout-main--no-sidebar">

<!-- Body ------------------------------------------------------------------------->
<div id="main-content-container" class="layout-body">
  <router-outlet></router-outlet>
</div>

<!-- Footer ------------------------------------------------------------------------->
<div id="footerToolbar">
  <span class="layout-footer-content">{{layoutFooterText | async}}</span>
</div>
 </div>
}

</div>
